<!-- templates/add_book.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Add Book</h1>
    <form id="addBookForm">
        <input type="text" id="title" placeholder="Title" required>
        <input type="text" id="author" placeholder="Author" required>
        <button type="submit">Add Book</button>
    </form>
    <a href="/book_list">Back to Book List</a>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
